* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
html {
  background-color: #eee7d6;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-weight: 500;
}

main {
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  flex: 1;
  display: grid;
  grid-row: span;
  flex-direction: column;
  font-size: 80%;
  justify-content: center;
  align-items: center;
}

section {
  display: grid;
  margin: 10%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: fit-content(100%);
  gap: 2rem;
}

p {
  font-family: "Libre Franklin", sans-serif;
  color: #515151;
}

nav {
  display: grid;
  background-color: #eee7d6;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  z-index: 5;
  position: sticky;
  top: 0;
  gap: 1rem;
  overflow: hidden;
  font-family: "Inconsolata", monospace;
  font-weight: 500;
  padding: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

body.transparent-nav nav {
  background-color: transparent;
}

nav a {
  transition: 0.3s ease-in;
  border-bottom: solid 2px rgba(0, 0, 0, 0);
  padding-bottom: 3px;
}

nav a:hover {
  border-color: #515151;
}

nav a:active {
  border-color: #515151;
}

h1 {
  margin-top: 15%;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  color: #515151;
  gap: 4vh;
}

ul {
  padding-inline-start: 40px;
  padding-inline-end: 40px;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #0e1f08;
  text-decoration: none;
}

h2 {
  color: #0e1f08;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 50%;
}

div.empty-div-row {
  font-size: 0;
}

#content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.column {
  width: 600px;
  padding: 10px;
}

#featured {
  max-width: 500px;
  max-height: 600px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid black;
}

.thumbnail {
  object-fit: cover;
  max-width: 180px;
  max-height: 100px;
  cursor: pointer;
  opacity: 0.5;
  margin: 5px;
  border: 2px solid black;
}

.thumbnail:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}

#slide-wrapper {
  max-width: 500px;
  display: flex;
  min-height: 100px;
  align-items: center;
}

#slider {
  width: 440px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

#slider::-webkit-scrollbar {
  width: 8px;
}

#slider::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#slider::-webkit-scrollbar-thumb {
  background-color: #dede2e;
  outline: 1px solid slategrey;
  border-radius: 100px;
}

#slider::-webkit-scrollbar-thumb:hover {
  background-color: #18b5ce;
}

@media only screen and (max-width: 600px) {
  section {
    grid-template-columns: none;
  }
}

@media only screen and (max-width: 490px) {
  * {
    overflow-wrap: normal;
  }
  nav {
    display: block;
  }
}

@media only screen and (max-width: 260px) {
  * {
    overflow-wrap: break-word;
  }
  img {
    max-width: 100%;
  }
}

@supports (display: grid) {
  main {
    max-width: 10000px;
    margin: 0;
  }
  article {
    margin: 0;
  }
}
