.container {
  grid-column: 1/-1;
}

.home_cover {
  z-index: -1;
  object-fit: cover;
  overflow: visible;
}

.huge_bold_text {
  font-size: xx-large;
  /* font-weight: bold; */
  font-family: "Chivo", sans-serif;
  align-items: center;
  padding: 5rem;
  color: #000000;
}

.big_bold_text {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  font-family: "Open Sans";
  align-content: center;
  flex-direction: column;
  color: #000000;
}

.bold_text {
  font-size: x-large;
  display: flex;
  justify-content: center;
  font-family: "Open Sans";
  flex-direction: column;
  color: #000000;
}

.small_bold_text {
  font-size: medium;
  display: flex;
  justify-content: center;
  font-family: "Open Sans";
  flex-direction: column;
  color: #000000;
}

.center_text {
  max-width: 50%;
}

.text_left {
  text-align: left;
  align-content: center;
}

.text_right {
  text-align: right;
  align-content: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .footer {
    display: flow-root;
    height: auto;
  }
}
