.container {
  grid-column: 1/-1;
}

.main_style {
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  flex: 1;
  margin-bottom: 5rem;
  display: grid;
  grid-row: span;
  flex-direction: column;
  font-size: 80%;
  justify-content: center;
  align-items: center;
}

.article_style {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.section_style {
  display: grid;
  margin: 10%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: fit-content(100%);
  gap: 6rem;
}

.home_cover {
  z-index: -1;
  object-fit: cover;
  overflow: visible;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.top_image_container {
  z-index: -1;
}

.huge_bold_text {
  font-size: 2.2rem;
  justify-content: center;
  font-family: "Chivo", sans-serif;
  align-items: center;
  padding: 8rem;
  color: #000000;
}

.big_bold_text {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  font-family: "Open Sans";
  align-content: center;
  flex-direction: column;
  color: #000000;
}

.bold_text {
  font-size: x-large;
  display: flex;
  justify-content: center;
  font-family: "Open Sans";
  flex-direction: column;
  color: #000000;
}

.small_bold_text {
  font-size: medium;
  display: flex;
  justify-content: center;
  font-family: "Open Sans";
  flex-direction: column;
  color: #000000;
}

.home_caption {
  margin-top: 0px;
  padding-top: 0px;
}

.header_text {
  color: #375051;
  font-size: 2.5rem;
  margin-top: 4rem;
  margin-bottom: 0rem;
  justify-content: center;
  font-family: "Inconsolata", monospace;
  align-items: center;
}

.small_header_text {
  color: #375051;
  font-size: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 0rem;
  justify-content: left;
  font-family: "Chivo", sans-serif;
  text-align: left;
}

.center_text {
  align-items: center;
  align-content: center;
  justify-content: center;
  display: block;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.text_left {
  text-align: left;
  align-content: center;
}

.text_right {
  text-align: right;
  align-content: center;
}

.filter_dark {
  filter: invert(16%) sepia(7%) saturate(1268%) hue-rotate(112deg)
    brightness(98%) contrast(91%);
  /* https://codepen.io/sosuke/pen/Pjoqqp */
}

.leaf_button a {
  transition: 0.3s ease-in;
  border-bottom: solid 0.1rem rgba(0, 0, 0, 0);
  padding-bottom: 0.01rem;
  line-height: 1.5em;
  font-size: x-large;
  display: flex;
  justify-content: center;
  font-family: "Open Sans";
  flex-direction: column;
  color: #263430;
}

.leaf_button a:hover {
  border-color: #263430;
}

.footer_image {
  display: grid;
  margin: 10%;
  gap: 6rem;
}

.footer_text {
  margin-bottom: 4rem;
}

@media (max-width: 600px) {
  .footer {
    display: flow-root;
    height: auto;
  }

  .huge_bold_text {
    gap: 1rem;
    font-size: 2rem;
    padding: 1rem;
  }
}

@media (max-width: 1000px) {
  .huge_bold_text {
    padding: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .section_style {
    grid-template-columns: none;
  }
}

@supports (display: grid) {
  .main_style {
    max-width: 10000px;
    margin: 0;
  }
  .article_style {
    margin: 0;
  }
}
